balls:
  type: obstacle
  geometries:
    -
      name: ball_1
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_2
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_3
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_4
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_5
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_6
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_7
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_8
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_9
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_10
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_11
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_12
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_13
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_14
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_15
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]
    -
      name: ball_16
      collision_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      visualization_geometry:
        type: sphere
        radius: #RAD#
        material: baxter_red
      config:
        position: [#POS#]
        orientation: [0, 0, 0, 1]