<!-- This file has been tested on PRACSYS revision  -->

<launch>


  <include file="$(find pebble_motion)/input/common/simulation/simulation_10robots.launch"/>

  <include ns="planning" file="$(find pebble_motion)/input/common/planning/world_models/world_model_10robots.launch"/>

  <include ns="planning" file="$(find pebble_motion)/input/common/planning/planner_structures/paper_tree.launch"/>

  <rosparam command="load" ns="planning/task_planner/" file="$(find pebble_motion)/input/common/task_planners/pebble_solver_task_planner.yaml"/>

  <rosparam ns="planning/task_planner/" >
    pebble_solver: 
        type: khorshid_solver
    visualization_body: "simulator/router/disk9/body"
    test_name: kornhauser_tree
  </rosparam> 
  

  <include ns="planning" file="$(find pebble_motion)/input/khorshid/queries/paper_tree_query.launch"/>

  <include file="$(find pebble_motion)/input/common/visualization.launch"/>

  <node name="planning" pkg="prx_planning" type="prx_planning"
        required="true" launch-prefix="gdb" output="screen" args="planning"/>

  <node name="simulation" pkg="prx_simulation" type="prx_simulation"
        required="true" launch-prefix="" output="screen" />


</launch>