<launch>
  <rosparam ns="queries">
  query1:
    type: pebble_test_query
    initial_state:
      -
        name: disk0
        node_id: 3
      -
        name: disk1
        node_id: 4
      -
        name: disk2
        node_id: 2
      -
        name: disk3
        node_id: 1
    target_state:
      -
        name: disk0
        node_id: 4
      -
        name: disk1
        node_id: 2
      -
        name: disk2
        node_id: 1
      -
        name: disk3
        node_id: 3
  </rosparam>
</launch>