('manipulation', 1)
('conformant_planning', 0)
('cloud_manipulation', 0)
('decentralized_coordination', 0)
('rearrangement_manipulation', 0)
('kinematic_planners', 0)
('kinodynamic', 0)
('many_arm', 0)
('NTRT_interface',0)
('crowd_simulation', 0)
('old_rearrangement_manipulation',0)
('coordination_manipulation', 0)
('two_dim_problems', 0)
('apc', 1)
('pebble_motion', 0)
('homotopies', 0)
('learning_physics',0)
