<launch>
  <rosparam command="load" file="$(find crowd_simulation)/input/templates/applications/vo_application.yaml"/>
  <rosparam command="load" file="$(find prx_input)/templates/simulators/default_simulator.yaml"/>
  <rosparam command="load" ns="vo_controller" file="$(find crowd_simulation)/input/templates/controllers/collision_avoidance_controller.yaml"/>
  <rosparam command="load" ns="path_follower" file="$(find crowd_simulation)/input/templates/controllers/path_follower_controller.yaml"/>
  <rosparam command="load" ns="behavior_controller" file="$(find crowd_simulation)/input/templates/controllers/behavior_controller.yaml"/>
  <rosparam command="load" ns="agent" file="$(find crowd_simulation)/input/templates/plants/pedestrian.yaml"/>

  <rosparam ns="">
    random_seed: 2451358
    autostart: true
    display_graph: false
    display_triangles: false
    display_segments: false
    agent_radius: 0.28
    application:
      visualize: false
    simulator:
      display_grid: false
      collision_detection: false
      collision_response: false
      sensing:
        type: PABT_sensing_model
        sensors:
          graph_sensor:
            type: navigation_graph_sensor
            source: "graph_sensor"
            sensor_delay: 0.02
            maximum_neighbors: 16
            agent_radius: 0.28
            sensing_radius: 8
    distance_metric:
      type: linear_distance_metric
      distance_function: floor_aware_euclidean
    obstacle_metric:
      type: linear_distance_metric
      distance_function: floor_aware_euclidean
    vo_controller:
      input_control_space:
        min: [-800, -800]
        max: [800, 800]
      minimally_invasive: true
      sensing_info:
        type: neighbor_sensing_info
        sources: ["graph_sensor"]
        update_delay: 0.02
      num_samples: 30
    path_follower:
      sensing_info:
        type: node_sensing_info
        sources: ["graph_sensor"]
        update_delay: 0.02
    agent:
      state_space:
        min: [-800, -800]
        max: [800, 800]
  </rosparam>

  <!-- Common Params -->
  <include file="$(find crowd_simulation)/input/templates/common_setup/base_setup.launch"/>
  <!-- Agents -->
  <include file="$(find crowd_simulation)/input/templates/common_setup/1001_agents.launch"/>

</launch>
