    <class name="prx_simulation/replanning_waypoints_controller"
        type="prx::packages::gta::replanning_waypoints_controller_t"
        base_class_type="prx::sim::system_t">
        <description>
            Replanning Waypoints controller
        </description>        
    </class>
    
    <class name="prx_simulation/GTA_replanning_controller"
        type="prx::packages::gta::GTA_replanning_controller_t"
        base_class_type="prx::sim::system_t">
        <description>
            GTA Replanning controller
        </description>        
    </class>
    
    <class name="prx_simulation/GTA_application"
        type="prx::packages::gta::GTA_application_t"
        base_class_type="prx::sim::application_t">
        <description>
            An application that handles GTA experiments
        </description>        
    </class>
