<launch>
  <rosparam ns="queries">
  query1:
    type: pebble_test_query
    initial_state:
      -
        name: disk0
        node_id: 1
      -
        name: disk1
        node_id: 4
      -
        name: disk2
        node_id: 6
    target_state:
      -
        name: disk0
        node_id: 6
      -
        name: disk1
        node_id: 1
      -
        name: disk2
        node_id: 4

  </rosparam>
</launch>