<launch>
  <rosparam command="load" file="$(find prx_input)/templates/planning_applications/single_query_application.yaml"/>
  <rosparam ns="task_planner/" >

  </rosparam>
  <rosparam ns="task_planner/" >
    template: "task_planner"
    visualization_body: "simulator/router/disk01/body"
    visualize_graph: true
    points:
      -
        point: [0,160,0]
        id: 0
      -
        point: [20,120,0]
        id: 1
      -
        point: [0,80,0]
        id: 2
      -
        point: [20,80,0]
        id: 3
      -
        point: [0,0,0]
        id: 4
      -
        point: [20,40,0]
        id: 5
      -
        point: [40,80,0]
        id: 6
      -
        point: [60,80,0]
        id: 7
      -
        point: [70,80,0]
        id: 8
      -
        point: [80,80,0]
        id: 9
      -
        point: [90,80,0]
        id: 10
      -
        point: [100,80,0]
        id: 11
      -
        point: [120,80,0]
        id: 12
      -
        point: [140,120,0]
        id: 13
      -
        point: [160,160,0]
        id: 14
      -
        point: [140,80,0]
        id: 15
      -
        point: [160,80,0]
        id: 16
      -
        point: [140,40,0]
        id: 17
      -
        point: [170,160,0]
        id: 18
      -
        point: [180,120,0]
        id: 19
      -
        point: [170,80,0]
        id: 20
      -
        point: [180,80,0]
        id: 21
      -
        point: [170,0,0]
        id: 22
      -
        point: [180,40,0]
        id: 23
      -
        point: [200,80,0]
        id: 24
      -
        point: [220,80,0]
        id: 25
      -
        point: [230,80,0]
        id: 26
      -
        point: [240,80,0]
        id: 27
      -
        point: [250,80,0]
        id: 28
      -
        point: [260,80,0]
        id: 29
      -
        point: [280,80,0]
        id: 30
      -
        point: [300,120,0]
        id: 31
      -
        point: [320,160,0]
        id: 32
      -
        point: [300,80,0]
        id: 33
      -
        point: [320,80,0]
        id: 34
      -
        point: [300,40,0]
        id: 35
      -
        point: [150,40,0]
        id: 36
      -
        point: [260,40,0]
        id: 37
      -
        point: [70,40,0]
        id: 38
    edges:
      -
        source: 0
        target: 1
      -
        source: 2
        target: 3
      -
        source: 4
        target: 5
      -
        source: 1
        target: 6
      -
        source: 3
        target: 6
      -
        source: 5
        target: 6
      -
        source: 6
        target: 7
      -
        source: 7
        target: 8
      -
        source: 8
        target: 9
      -
        source: 9
        target: 10
      -
        source: 10
        target: 11
      -
        source: 11
        target: 12
      -
        source: 12
        target: 13
      -
        source: 13
        target: 14
      -
        source: 12
        target: 15
      -
        source: 15
        target: 16
      -
        source: 12
        target: 17
      -
        source: 18
        target: 19
      -
        source: 19
        target: 24
      -
        source: 20
        target: 21
      -
        source: 21
        target: 24
      -
        source: 22
        target: 23
      -
        source: 23
        target: 24
      -
        source: 24
        target: 25
      -
        source: 25
        target: 26
      -
        source: 26
        target: 27
      -
        source: 27
        target: 28
      -
        source: 28
        target: 29
      -
        source: 29
        target: 30
      -
        source: 30
        target: 31
      -
        source: 31
        target: 32
      -
        source: 30
        target: 33
      -
        source: 33
        target: 34
      -
        source: 30
        target: 35
      -
        source: 16
        target: 20
      -
        source: 37
        target: 30
  </rosparam>

</launch>
