<launch>
  <rosparam command="load" file="$(find prx_input)/templates/planning_applications/single_query_application.yaml"/>
  <rosparam ns="task_planner/" >

  </rosparam>
  <rosparam ns="task_planner/" >
    template: "task_planner"
    visualization_body: "simulator/router/disk01/body"
    visualize_graph: true
    points:
      -
        point: [0,0,0]
        id: 0
      -
        point: [10,0,0]
        id: 1
      -
        point: [20,0,0]
        id: 2
      -
        point: [30,0,0]
        id: 3
      -
        point: [40,0,0]
        id: 4
      -
        point: [50,0,0]
        id: 5
      -
        point: [60,0,0]
        id: 6
      -
        point: [70,0,0]
        id: 7
      -
        point: [80,0,0]
        id: 8
      -
        point: [90,0,0]
        id: 9
      -
        point: [100,0,0]
        id: 10
      -
        point: [110,0,0]
        id: 11
      -
        point: [120,0,0]
        id: 12
      -
        point: [130,0,0]
        id: 13
      -
        point: [0,10,0]
        id: 14
      -
        point: [130,10,0]
        id: 15
      -
        point: [0,20,0]
        id: 16
      -
        point: [10,20,0]
        id: 17
      -
        point: [20,20,0]
        id: 18
      -
        point: [30,20,0]
        id: 19
      -
        point: [40,20,0]
        id: 20
      -
        point: [50,20,0]
        id: 21
      -
        point: [60,20,0]
        id: 22
      -
        point: [70,20,0]
        id: 23
      -
        point: [80,20,0]
        id: 24
      -
        point: [90,20,0]
        id: 25
      -
        point: [100,20,0]
        id: 26
      -
        point: [110,20,0]
        id: 27
      -
        point: [120,20,0]
        id: 28
      -
        point: [130,20,0]
        id: 29
      -
        point: [140,20,0]
        id: 30
    edges:
      -
        source: 0
        target: 1
      -
        source: 0
        target: 14
      -
        source: 1
        target: 2
      -
        source: 2
        target: 3
      -
        source: 3
        target: 4
      -
        source: 4
        target: 5
      -
        source: 5
        target: 6
      -
        source: 6
        target: 7
      -
        source: 7
        target: 8
      -
        source: 8
        target: 9
      -
        source: 9
        target: 10
      -
        source: 10
        target: 11
      -
        source: 11
        target: 12
      -
        source: 12
        target: 13
      -
        source: 13
        target: 15
      -
        source: 14
        target: 16
      -
        source: 15
        target: 29
      -
        source: 16
        target: 17
      -
        source: 17
        target: 18
      -
        source: 18
        target: 19
      -
        source: 19
        target: 20
      -
        source: 20
        target: 21
      -
        source: 21
        target: 22
      -
        source: 22
        target: 23
      -
        source: 23
        target: 24
      -
        source: 24
        target: 25
      -
        source: 25
        target: 26
      -
        source: 26
        target: 27
      -
        source: 27
        target: 28
      -
        source: 28
        target: 29
      -
        source: 29
        target: 30
  </rosparam>

</launch>
