<launch>
  <rosparam command="load" file="$(find prx_input)/templates/planning_applications/single_query_application.yaml"/>
  <rosparam ns="task_planner/" >

  </rosparam>
  <rosparam ns="task_planner/" >
    template: "task_planner"
    visualization_body: "simulator/router/disk01/body"
    visualize_graph: true
    points:
      -
        point: [0,160,0]
        id: 0
      -
        point: [20,120,0]
        id: 1
      -
        point: [0,80,0]
        id: 2
      -
        point: [20,80,0]
        id: 3
      -
        point: [0,0,0]
        id: 4
      -
        point: [20,40,0]
        id: 5
      -
        point: [40,80,0]
        id: 6
      -
        point: [60,80,0]
        id: 7
      -
        point: [70,80,0]
        id: 8
      -
        point: [80,80,0]
        id: 9
      -
        point: [90,80,0]
        id: 10
      -
        point: [100,80,0]
        id: 11
      -
        point: [120,80,0]
        id: 12
      -
        point: [140,120,0]
        id: 13
      -
        point: [160,160,0]
        id: 14
      -
        point: [140,80,0]
        id: 15
      -
        point: [160,80,0]
        id: 16
      -
        point: [140,40,0]
        id: 17
    edges:
      -
        source: 0
        target: 1
      -
        source: 2
        target: 3
      -
        source: 4
        target: 5
      -
        source: 1
        target: 6
      -
        source: 3
        target: 6
      -
        source: 5
        target: 6
      -
        source: 6
        target: 7
      -
        source: 7
        target: 8
      -
        source: 8
        target: 9
      -
        source: 9
        target: 10
      -
        source: 10
        target: 11
      -
        source: 11
        target: 12
      -
        source: 12
        target: 13
      -
        source: 13
        target: 14
      -
        source: 12
        target: 15
      -
        source: 15
        target: 16
      -
        source: 12
        target: 17
  </rosparam>

</launch>
