<launch>
 <rosparam file="$(find prx_input)/templates/spaces/space_types.yaml"/>

<rosparam ns="simulation" file="$(find prx_input)/templates/applications/empty_application.yaml"/>
<rosparam ns="simulation" file="$(find prx_input)/templates/simulators/collision_stop_simulator.yaml"/>
<rosparam ns="simulation/controller" file="$(find prx_input)/templates/controllers/consumer.yaml"/>
<rosparam ns="simulation/plant" file="$(find eSST)/input/templates/pushing_plant.yaml"/>

<rosparam ns="simulation/simulator/subsystems/consumer">
  template: "controller"
  keep_last_control: false
  keep_last_state: false
</rosparam>

<rosparam ns="simulation/simulator/subsystems/consumer/subsystems/rover">
template: "plant"
initial_state: [-3.5,3.5,0,1,-1]
</rosparam>


  <rosparam ns="simulation/simulator/obstacles" file="$(find eSST)/input/templates/push_obstacles.yaml" />

  <rosparam ns="planning" file="$(find prx_input)/templates/planning_applications/single_query_application.yaml"/>

<rosparam ns="planning">
random_seed: 56849
consumer_mapping:
  - 
    pair: [simulator/consumer, true_space]
</rosparam>
        
  <!-- Load template files -->
       
  <rosparam ns="planning/motion_planner/" file="$(find prx_input)/templates/motion_planners/sst.yaml"/>
 
  <rosparam ns="planning/task_planner/" file="$(find prx_input)/templates/task_planners/single_shot.yaml"/>

  <rosparam ns="planning/task_planner/" >
    stats_criteria:
      elements:
        criterion1:
          condition: 20
          type: timed_criterion
  </rosparam>

<rosparam ns="planning/task_planner/planners/" >
planner1:
  template: "motion_planner"
  type: esst
  space_name: "true_space"
  visualization_body: "simulator/controller/rover/ball"
  visualize_tree: true
  visualize_solution: false
  sample_metric:
    type: naive_octree
    state_size: 5
    threshold: 1.0
    distance_function: emd_distance
  max_points: 20000
  delta_drain: 1.0
  steering: false
  delta_near: 2.0
  probability_threshold: 0.8
  path_cost_weight: 1
  collision_weight: 0
  selection_weight: 1
  density_weight: 0
  order_weight: 1
  cost_weight: 1
  state_size: 5
  particle_tree: true
</rosparam>
       
  <rosparam ns="planning/query_type" file="$(find prx_input)/templates/queries/motion_planning_query.yaml"/>
<rosparam ns="planning/problems">
problem1:
  specification:
    type: motion_planning_specification
    validity_checker: 
      type: esst_validity_checker
      cost_function: duration_cost
      state_size: 5
      num_states: 150
      plant_context: disk
      collision_threshold: .2
    sampler:
      type: esst_sampler
    distance_metric:
      type: naive_octree
      state_size: 5
      threshold: 1.0
      distance_function: emd_distance
    local_planner:
      type: time_varying_local_planner
      lower_multiple: 10
      upper_multiple: 30
    seeds:
      -
        state: [-3.5,3.5,0,1,-1]
    stopping_criteria:
      elements:
        criterion1:
          type: timed_criterion
          condition: 240
  query:
    template: "query_type"
    start_state: [-3.5,3.5,0,1,-1]
    goal:
      #type: "bounded_goal_region"
      type: particle_goal
      distance_metric:
        type: ann_distance_metric
      radius: 2
      accepted_threshold: .6
      state_size: 5
      goal_state: [3,3,0,.6,1.57]
</rosparam>

<rosparam ns="planning">
  system_mapping:
  - 
    pair: [simulator/consumer/rover, world_model/simulator/controller/rover]

  consumer: simulator/consumer
</rosparam>

<rosparam ns="planning/world_model/planning_contexts">
true_space:
  default:
    type: "full_mapping"
disk:
  default:
    type: "hide_mapping"
</rosparam>
  <rosparam ns="planning/world_model" file="$(find prx_input)/templates/simulators/collision_stop_simulator.yaml"/>



  <rosparam ns="planning/world_model/simulator/obstacles" file="$(find eSST)/input/templates/push_obstacles.yaml" />

  <rosparam ns="planning/world_model/simulator/subsystems/controller" >
  type: particle_controller
  number_of_states: 150
  control_variance: [.05,.05]
  </rosparam>
  <rosparam ns="planning/world_model/simulator/subsystems/controller/subsystems/rover" file="$(find eSST)/input/templates/pushing_plant.yaml"/>  
  <rosparam ns="planning/world_model/simulator/subsystems/controller/subsystems/rover" >
  planning_contexts:
    disk:
      type: full_mapping
  </rosparam>

<node name="simulation" pkg="prx_simulation" type="prx_simulation" required="true" launch-prefix="" output="screen" args="simulation"/>

<node name="planning" pkg="prx_planning" type="prx_planning" required="false" launch-prefix="" output="screen" args="planning" />

<include file="$(find prx_input)/templates/visualization/visualization.launch"/>


</launch>