<launch>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_11RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_12RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_13RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_14RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_15RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_16RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_17RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_18RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_19RN_1EN__prm_starPL.launch"/>
<include file="$(find cloud_manipulation)/input/cloud/cloud_ram_30000RM_20RN_1EN__prm_starPL.launch"/>

</launch>