<!-- This file has been tested on PRACSYS revision XXXX -->

<launch>
  <rosparam command="load" file="$(find prx_input)/templates/spaces/space_types.yaml"/>

  <rosparam command="load" ns="simulation" file="$(find crowd_simulation)/input/templates/applications/vo_application.yaml"/>
  <rosparam command="load" ns="simulation" file="$(find prx_input)/templates/simulators/default_simulator.yaml"/>

  <rosparam command="load" ns="simulation/vo_controller" file="$(find crowd_simulation)/input/templates/controllers/vo_controller.yaml"/>
  <rosparam command="load" ns="simulation/path_follower" file="$(find crowd_simulation)/input/templates/controllers/path_follower_controller.yaml"/>
  <rosparam command="load" ns="simulation/behavior_controller" file="$(find crowd_simulation)/input/templates/controllers/behavior_controller.yaml"/>

  <rosparam command="load" ns="simulation/simulator/obstacles/" file="$(find crowd_simulation)/input/exports/load_test/load_test.yaml" />
  <rosparam command="load" ns="simulation/agent" file="$(find crowd_simulation)/input/templates/plants/pedestrian.yaml"/>

  <rosparam command="load" ns="simulation" file="$(find crowd_simulation)/input/exports/load_test/load_test_semantics.yaml"/>

  <rosparam ns="simulation">
    random_seed: 2451358
    folder_path: "/home/tdk/research/pracsys/src/prx_packages/crowd_simulation/input/exports/load_test/"
    paths_filename: "load_test_paths.csv"
    navigation_graph: "load_test_navmesh.txt"
    semantic_filename: "load_test_semantics.yaml"
    annotations_filename: "annotations.yaml"
    autostart: true
    display_graph: true
    agent_radius: 0.35
    distance_metric:
      type: graph_distance_metric
      distance_function: floor_aware_euclidean
    obstacle_metric:
      type: graph_distance_metric
      distance_function: floor_aware_euclidean
  </rosparam>

  <rosparam ns="simulation/simulator">
    display_grid: false
    collision_detection: false
    collision_response: false
  </rosparam>

  <rosparam ns="simulation/vo_controller">
    input_control_space:
      min: [-800, -800]
      max: [800, 800]
    vanish: false
    minimally_invasive: true
    sensing_info:
      type: VO_sensing_info
      sources: ["geom_sensor1", "vel_sensor1"]
      update_delay: 0.02
      max_num_neighbors: 8
      sensing_radius: 2.2
      obstacle_sensing_radius: 2.5
      distance_metric:
        type: ann_distance_metric
        distance_function: floor_aware_euclidean
    num_samples: 50
  </rosparam>

  <rosparam ns="simulation/simulator/sensing">
    type: VO_sensing_model
    sensors:
        geom_sensor1:
          type: geom_sensor
          source: "geom_sensor1"
          sensor_delay: 0.02
        vel_sensor1:
          type: velocity_sensor
          source: "vel_sensor1"
          sensor_delay: 0.02
  </rosparam>

  <rosparam ns="simulation/agent">
    state_space:
      min: [-800, -800]
      max: [800, 800]
  </rosparam>

  <!-- Agents -->

  <include file="$(find crowd_simulation)/input/templates/common_setup/100_agents.launch"/>

  <!-- Nodes -->

  <node name="simulation" pkg="prx_simulation" type="prx_simulation" required="true" launch-prefix="" args="simulation" output="screen" />

  <include file="$(find prx_input)/templates/visualization/visualization_lowplane.launch"/>

</launch>
